.feature-container {
	text-align: center;
	position: relative;
	background-color: rgba(20, 110, 180, 0.04);
	display: flex;
	justify-content: space-around;
	padding: 76px 162px;
	gap: 32px;
}
.feature-container > div {
	flex: 1;
}

.img {
	width: 48px;
	height: 48px;
	margin-top: 76px;
	margin-bottom: 36px;
}
.feature-container p {
	margin-top: 8px;
}
